*.pyc
*.sqlite3
*.xml
.idea

pyAnalysis/venv/*
pyAnalysis/restapp/migrations/*


# compiled output
pyAnalysis-f/dist
pyAnalysis-f/tmp
pyAnalysis-f/out-tsc

# dependencies
pyAnalysis-f/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

pyAnalysis-f/.editorconfig

pyAnalysis-f/.editorconfig

pyAnalysis-f/e2e/src/app.e2e-spec.ts
